
@media screen and (min-width: 640px) and (max-width: 9850px) {
#above-logo-container,
#below-logo-container{
	padding:.25em 0;
	background-color: #2C2C2C;
    background-image: -moz-linear-gradient(center top , #333333, #222222);
    background-repeat: repeat-x;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}
#above-logo-container{
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-right-radius: 5px;
border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
border-bottom-left-radius: 5px;}
#below-logo-container{
-moz-border-radius-topleft: 5px;
-webkit-border-top-left-radius: 5px;
 border-top-left-radius: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-right-radius: 5px;
border-top-right-radius: 5px;
}

.nav{float:left}
.nav a{text-transform:uppercase;color:#FFF;}
.nav li {position:relative;float:left;display:inline;}
.nav li a{display:block;padding:.25em .5em;text-decoration:none;background:transparent;margin-left:10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
#rss-links li a {background:none;margin:0;padding:0!important}
#rss-links li{float:left}
.nav li a:hover,
.nav li.current-menu-item a{background:transparent;}


.nav li:hover a{background:#005fa1;position:relative;z-index:5;}
.nav li:hover ul a{background:transparent;border:none;margin-bottom:0;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0}


.nav li a.add-arrow{
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAFCAYAAABM6GxJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADZJREFUeNpi/P//P8PChQvXMhAB4uPjg9HFmKB0MBH6saphIqSAkBwTEQrxuo6JgAaCXgMIMADv6AmftKmfsQAAAABJRU5ErkJggg==)!important;
background-position:100% 50%!important;background-repeat:no-repeat!important;padding-right:20px!important}

.nav li a.add-arrow:hover,
.nav li:hover a.add-arrow{
-moz-border-radius-bottomright: 0;
-webkit-border-bottom-right-radius: 0;
border-bottom-right-radius: 0;
-moz-border-radius-bottomleft: 0;
-webkit-border-bottom-left-radius: 0;
border-bottom-left-radius: 0;	
}
#above-logo-container .nav li ul li a.add-arrow-right,
#below-logo-container .nav li ul li a.add-arrow-right{
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAYAAABmBXS+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEJJREFUeNpiXLBgwVoGBoZgBiQQHx+PzGVggtJrGfAAJiT2WmIU4VTIhEVsLTGKiDIpmJCiYEImBROyLhifmwACDADgkggRa469DwAAAABJRU5ErkJggg==)!important;
background-position:100% 50%!important;background-repeat:no-repeat;padding-right:20px}

.nav li:hover a.add-arrow{padding:.25em .5em .5em;margin-bottom:-.25em;
-moz-border-radius:0;
-moz-border-radius-topleft: 5px;
 -moz-border-radius-topright: 5px;
 -webkit-border-top-right-radius: 5px;
 -webkit-border-top-left-radius: 5px;}


/* sub navigation */
.nav ul {
	display:none;opacity:1;
	padding-bottom:.5em;/*for rounded corners*/
	border:none;border-width:0 1px 1px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	}
.nav ul li a{margin:0}	
.nav li:hover ul,
.nav li:hover ul li:hover ul{display:block;background:#005fa1;position:absolute;top:2.375em;left:10px;width:12em;z-index:999}
/*1.625+.25+2(.25)*/
.nav ul a, .nav ul li {float:none;}

.nav ul li a:hover{background:#333;}
/* Third Level Drop Down Menu */
 
.nav li:hover ul li ul {display: none;}
 

.nav li:hover ul li:hover ul { display:block; position:absolute; left:12em; top:-1.125em!important; }/*1.625-.5*/

/* Fourth level */
.nav li:hover ul li ul li ul {display: none!important;}
.nav li:hover ul li ul li:hover ul { display:block!important;}
}
#navsearch{float:right;font-size:1em;line-height:1em;width:auto;margin-right:10px;padding:0}
#navsearch form{padding:0}
#navsearch input[type=text]{padding:.5em;font-style:italic;font-family:georgia,serif;color:#999;width:13em;margin:0!important;border:none;
-moz-box-shadow: inset 0 0 2px 1px #999;
-webkit-box-shadow: inset 0 0 2px 1px #999;
box-shadow: inset 0 0 2px 1px #999;}
#navsearch input[type=submit]{width:auto;cursor:pointer;padding:.3em;margin:0 0 0 6px!important;float:right}
